//colors
$color_caribbean_green_approx: rgba(11, 206, 175, 1);
$white: rgba(255, 255, 255, 1);
$black_90: rgba(0, 0, 0, 0.9);
$black_80: rgba(0, 0, 0, 0.8);
$white_10: rgba(255, 255, 255, 0.1);
$black_16: rgba(0, 0, 0, 0.16);
$black_12: rgba(0, 0, 0, 0.12);

// * {
// 	//vendor-prefix found
// 	//-webkit-font-smoothing: antialiased
// 	//vendor-prefix found
// 	//-moz-osx-font-smoothing: grayscale
// }
.shadow-1 {
	//vendor-prefix found
	//-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
	//vendor-prefix found
	//-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 5px 0 $black_16, 0 2px 10px 0 $black_12;
}
@media only screen and(max-width: 1400px) {
	.mh-single-project-slide-by-side {
		.owl-prev {
			top: 40%;
			left: 0;
		}
		.owl-next {
			top: 44%;
			right: 0;
		}
	}
}
@media only screen and(max-width: 991px) {
	.section-separator {
		padding: 40px 0;
	}
	.home-section-separator {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.mh-xs-mobile-nav {
		z-index: 99;
		.navbar-nav {
			padding-top: 50px;
			padding-right: 20px;
		}
		.navbar-collapse {
			//vendor-prefix found
			//-o-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1)
			//vendor-prefix found
			//-ms-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1)
			//vendor-prefix found
			//-moz-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1)
			//vendor-prefix found
			//-webkit-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1)
			//vendor-prefix found
			//-webkit-transition: all 0.4s ease-out
			//vendor-prefix found
			//-moz-transition: all 0.4s ease-out
			//vendor-prefix found
			//-o-transition: all 0.4s ease-out
			//vendor-prefix found
			//-ms-transition: all 0.4s ease-out
			//vendor-prefix found
			//-webkit-font-smoothing: antialiased
			//vendor-prefix found
			//-moz-osx-font-smoothing: grayscale
			position: fixed;
			top: 0;
			bottom: 0;
			width: 320px;
			left: 0;
			z-index: 990;
			margin-top: 0;
			padding: 0;
			background-color: $color_caribbean_green_approx;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
			//vendor-prefix found
			//-o-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1)
			//vendor-prefix found
			//-ms-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1)
			//vendor-prefix found
			//-moz-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1)
			//vendor-prefix found
			//-webkit-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1)
			//vendor-prefix found
			//-webkit-transition: all 0.4s ease-out
			//vendor-prefix found
			//-moz-transition: all 0.4s ease-out
			//vendor-prefix found
			//-o-transition: all 0.4s ease-out
			//vendor-prefix found
			//-ms-transition: all 0.4s ease-out
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.4s ease-out;
			//vendor-prefix found
			//-webkit-font-smoothing: antialiased
			//vendor-prefix found
			//-moz-osx-font-smoothing: grayscale
			overflow-y: none;
			&.active {
				//vendor-prefix found
				//-o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1)
				//vendor-prefix found
				//-ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1)
				//vendor-prefix found
				//-moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1)
				//vendor-prefix found
				//-webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1)
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
				//vendor-prefix found
				//-o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1)
				//vendor-prefix found
				//-ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1)
				//vendor-prefix found
				//-moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1)
				//vendor-prefix found
				//-webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1)
			}
			.nav {
				margin-top: 75px;
				border-top: 1px solid;
				border-top-color: $white_10;
				padding: 20px;
				li {
					text-align: center;
					margin-bottom: 0;
					width: 100%;
					display: block;
					//vendor-prefix found
					//-webkit-transition: all 0.4s ease-out
					//vendor-prefix found
					//-moz-transition: all 0.4s ease-out
					//vendor-prefix found
					//-o-transition: all 0.4s ease-out
					//vendor-prefix found
					//-ms-transition: all 0.4s ease-out
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: all 0.4s ease-out;
					//vendor-prefix found
					//-webkit-font-smoothing: antialiased
					//vendor-prefix found
					//-moz-osx-font-smoothing: grayscale
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: translate3d(-20px, -10px, 0);
					a {
						background-color: transparent;
						text-transform: uppercase;
						font-size: 17px;
						line-height: 26px;
						&:hover {
							color: $white !important;
							background: transparent;
						}
						&.active {
							color: $white;
						}
					}
					&.active {
						color: $white;
					}
				}
			}
		}
		.collapse {
			display: block;
			&.in {
				background-color: $black_90;
			}
		}
		.navbar-header {
			position: fixed;
			z-index: 999;
			width: 100%;
			margin-top: 0;
			left: 0;
			.navbar-toggler {
				.icon-bar {
					background-color: $color_caribbean_green_approx;
					//vendor-prefix found
					//-webkit-transition: all 0.4s ease-out
					//vendor-prefix found
					//-moz-transition: all 0.4s ease-out
					//vendor-prefix found
					//-o-transition: all 0.4s ease-out
					//vendor-prefix found
					//-ms-transition: all 0.4s ease-out
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: all 0.4s ease-out;
					//vendor-prefix found
					//-webkit-font-smoothing: antialiased
					//vendor-prefix found
					//-moz-osx-font-smoothing: grayscale
				}
				&.active .icon-bar {
					background-color: $white;
				}
			}
		}
		.navbar-toggler {
			padding: 15px;
			margin-right: 15px;
			margin-left: 15px;
			margin-top: 30px;
			z-index: 1000;
			//vendor-prefix found
			//-webkit-transition: all 0.4s ease-out
			//vendor-prefix found
			//-moz-transition: all 0.4s ease-out
			//vendor-prefix found
			//-o-transition: all 0.4s ease-out
			//vendor-prefix found
			//-ms-transition: all 0.4s ease-out
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.4s ease-out;
			//vendor-prefix found
			//-webkit-font-smoothing: antialiased
			//vendor-prefix found
			//-moz-osx-font-smoothing: grayscale
			display: block;
			.icon {
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
				//vendor-prefix found
				//-o-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1)
				//vendor-prefix found
				//-ms-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1)
				//vendor-prefix found
				//-moz-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1)
				//vendor-prefix found
				//-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1)
				width: 22px;
				height: 2px;
				position: absolute;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 2px;
				//vendor-prefix found
				//-webkit-backface-visibility: hidden
				//Instead of the line below you could use @include backface-visibility($visibility)
				backface-visibility: hidden;
			}
			.icon::after {
				width: 22px;
				height: 2px;
				position: absolute;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 2px;
				//vendor-prefix found
				//-webkit-backface-visibility: hidden
				//Instead of the line below you could use @include backface-visibility($visibility)
				backface-visibility: hidden;
				content: "";
				top: 0;
				right: 0;
				//vendor-prefix found
				//-webkit-transition: all 0.6s ease-out
				//vendor-prefix found
				//-moz-transition: all 0.6s ease-out
				//vendor-prefix found
				//-o-transition: all 0.6s ease-out
				//vendor-prefix found
				//-ms-transition: all 0.6s ease-out
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.6s ease-out;
				//vendor-prefix found
				//-webkit-font-smoothing: antialiased
				//vendor-prefix found
				//-moz-osx-font-smoothing: grayscale
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
				//vendor-prefix found
				//-o-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1)
				//vendor-prefix found
				//-ms-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1)
				//vendor-prefix found
				//-moz-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1)
				//vendor-prefix found
				//-webkit-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1)
			}
			.icon::before {
				width: 22px;
				height: 2px;
				position: absolute;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 2px;
				//vendor-prefix found
				//-webkit-backface-visibility: hidden
				//Instead of the line below you could use @include backface-visibility($visibility)
				backface-visibility: hidden;
				content: "";
				top: 0;
				right: 0;
				//vendor-prefix found
				//-webkit-transition: all 0.6s ease-out
				//vendor-prefix found
				//-moz-transition: all 0.6s ease-out
				//vendor-prefix found
				//-o-transition: all 0.6s ease-out
				//vendor-prefix found
				//-ms-transition: all 0.6s ease-out
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.6s ease-out;
				//vendor-prefix found
				//-webkit-font-smoothing: antialiased
				//vendor-prefix found
				//-moz-osx-font-smoothing: grayscale
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
				//vendor-prefix found
				//-o-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1)
				//vendor-prefix found
				//-ms-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1)
				//vendor-prefix found
				//-moz-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1)
				//vendor-prefix found
				//-webkit-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1)
			}
			&.active {
				.icon::after {
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
					//vendor-prefix found
					//-o-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1)
					//vendor-prefix found
					//-ms-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1)
					//vendor-prefix found
					//-moz-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1)
					//vendor-prefix found
					//-webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1)
					background-color: $white;
				}
				.icon::before {
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
					//vendor-prefix found
					//-o-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1)
					//vendor-prefix found
					//-ms-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1)
					//vendor-prefix found
					//-moz-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1)
					//vendor-prefix found
					//-webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1)
					background-color: $white;
				}
				.icon {
					background-color: transparent;
				}
			}
			&:focus {
				outline: 0 !important;
			}
		}
		.strict {
			background-color: $black_90;
			padding-bottom: 65px;
		}
		.overlay {
			position: fixed;
			display: none;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $black_80;
			z-index: 3;
			&.active {
				display: block;
			}
		}
		.navbar-dark {
			.navbar-toggler {
				border-color: transparent;
			}
			.navbar-toggler-icon {
				background-image: inherit;
			}
		}
		.nav-btn .navbar-toggler.active {
			display: none;
		}
		.navbar-fixed-bottom .navbar-collapse {
			max-height: inherit;
		}
		.navbar-fixed-top .navbar-collapse {
			max-height: inherit;
		}
	}
	.mh-header {
		padding: 10px 0;
	}
	.home-padding {
		padding: 100px 0;
	}
	.mh-nav {
		padding: 0;
	}
	.mh-professional-skills {
		padding-left: 0;
	}
	.mh-home-2 .mh-header-info {
		p {
			padding: 0;
			font-weight: 300;
		}
		.mh-about-tag {
			width: 80%;
		}
	}
	.mh-footer-address .mh-address-footer-item .each-icon .fa {
		width: 60px;
		height: 60px;
		line-height: 60px;
	}
	.mh-home .mh-header-info {
		padding: 0;
		h2 {
			font-size: 42px;
			font-weight: 600;
			line-height: 54px;
		}
		h4 {
			font-size: 20px;
			line-height: 24px;
		}
		.mh-promo {
			margin-bottom: 20px;
		}
	}
	.mh-about .mh-about-inner {
		padding-left: 5px;
	}
	.mh-skills .mh-professional-skill {
		padding-right: 0;
	}
	.nav-strict .navbar-toggler {
		margin-top: 0;
	}
	.mh-footer-3 .mh-footer-address .mh-address-footer-item .each-info {
		padding-left: 20px;
	}
	.mh-blog-sidebar .social-icon li {
		margin-right: 2px;
	}
}
@media only screen and(max-width: 768px) {
	.blog-form-inner {
		padding: 10px;
	}
	.mh-blog-next-prev-post {
		text-align: center !important;
		margin: 10px 0;
	}
	.mh-work {
		padding-left: 0;
		h3 {
			margin-bottom: 30px;
			margin-top: 30px;
		}
	}
	.mh-education {
		padding-right: 0;
	}
	.single-comment {
		margin: 0 auto;
		text-align: center;
		display: block;
		margin-top: 30px;
		img {
			margin-bottom: 20px;
		}
	}
	.mh-blog .mh-blog-item {
		text-align: center;
		.blog-inner {
			padding: 0;
			text-align: left;
			text-align: right;
			padding: 0 12px;
		}
		img {
			margin-bottom: 30px;
			margin: 0 auto;
			float: none;
			text-align: center;
			margin-bottom: 20px;
			width: 100%;
		}
		h2 {
			margin-bottom: 14px;
			font-weight: bold;
			font-size: 18px;
			line-height: 30px;
		}
	}
	.mh-experince h3 {
		margin-bottom: 30px;
	}
	.mh-skills .mh-professional-skill h3 {
		margin-bottom: 30px;
	}
	.mh-professional-skills h3 {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.mh-about .mh-about-inner {
		margin-top: 40px;
	}
	.mh-footer-address .mh-address-footer-item .each-icon .fa {
		width: 70px;
		height: 70px;
		line-height: 70px;
	}
	.mh-home-2 .mh-header-info {
		.mh-about-tag {
			width: 100%;
		}
		ul.mh-home-contact li {
			display: inline-block;
			margin: 10px 15px;
			width: 40%;
			text-align: left;
		}
	}
	.mh-testimonial .mh-client-item {
		padding: 30px 10px;
	}
}
@media only screen and(max-width: 575px) {
	.xs-column-reverse {//contrary to flex-sm-column-reverse
		display: flex;
		flex-direction: column-reverse;
	}
	.mh-header {
		padding: 0;
	}
	.home-padding {
		padding: 100px 0;
	}
	.mh-home {
		.hero-img {
			margin-bottom: 30px;
		}
		.mh-header-info {
			padding: 0;
			text-align: center;
			margin-top: 40px;
			.mh-promo {
				margin-bottom: 20px;
			}
		}
	}
	.mh-education {
		margin-bottom: 30px;
		padding-right: 0;
	}
	.mh-work {
		padding-left: 0;
		margin-bottom: 30px;
	}
	.section-separator {
		padding: 30px 0;
	}
	.mh-featured-project-content {
		margin-top: 40px;
		text-align: center;
	}
	.mh-map {
		padding: 0;
		margin-top: 40px;
	}
	.xs-no-padding {
		padding: 0;
	}
	.mh-portfolio-modal-inner {
		margin-right: 0;
	}
	.mh-portfolio-modal {
		padding: 10px;
	}
	.mh-portfolio-modal-img {
		margin-top: 50px;
	}
	.social-icon {
		display: block;
		margin: 0 auto;
		float: none;
		text-align: center;
		li {
			list-style: none;
			float: none;
			text-align: center;
			display: inline-block;
			margin-bottom: 0;
			margin-right: 4px;
			margin-left: 4px;
		}
	}
	.mh-about .mh-about-inner {
		padding-left: 5px;
		text-align: center;
		margin: 30px 15px;
	}
	.mh-skills .mh-professional-skill {
		padding-right: 0;
		padding: 0 15px;
		margin-bottom: 50px;
	}
	.mh-experince h3 {
		margin-bottom: 30px;
		text-align: center;
	}
	.portfolio-nav ul li {
		margin-bottom: 20px;
	}
	.mh-featured-project .mh-featured-item .mh-featured-project-content p {
		text-align: center;
	}
	.mh-quates .each-quates {
		padding: 30px;
	}
	.mh-home-2 .mh-header-info {
		text-align: center;
		padding-top: 50px;
		ul.mh-home-contact li {
			width: 100%;
			margin: 6px 10px;
		}
	}
	.mh-footer-3 .mh-footer-address .mh-address-footer-item {
		display: block;
		padding: 20px 0;
		.each-info {
			padding-left: 20px;
			padding-left: 0;
			text-align: center;
		}
	}
	.mh-service .mh-service-item {
		margin-bottom: 20px;
	}
	.text-left.text-xs-center {
		text-align: center !important;
	}
}
@media only screen and(max-width: 420px) {
	.home-padding {
		padding: 60px 0;
	}
	.mh-home .img-border {
		height: 280px;
		width: 280px;
	}
}