// color-primary:
$color-button: rgba(11, 206, 175, 0.9);
$color-background: rgba(255, 255, 255, 1);
$color-text-body: rgba(0, 0, 0, 1);
$color-text-link: rgba(0,0,0,1);
$color-loader-animation-1: rgba(80, 80, 79, 1);
$color-loader-animation-2: rgba(113, 113, 116, 1);

//main navbar
$color-main-navbar-hover: rgba(11, 206, 175, 0.9);
$color-main-navbar-text: rgba(0,0,0,1);
$color-main-navbar-border: rgba(0,0,0,1);