//font defintions
$font-base : 'roboto';
$font-alternate :'sans-serif';
$font-base-size: 14px;
$font-base-weight: 500;
$font-base-style: none;
$font-base-line-height: 24px;

// main navbar
$font-main-navbar-size: 18px;
$font-main-navbar-line-height: 30px;