@keyframes loader {
    0% {
      top: 94px;
      left: 94px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 57px;
      left: 57px;
      width: 74px;
      height: 74px;
      opacity: 0;
    }
  }
  @-webkit-keyframes loader {
    0% {
      top: 94px;
      left: 94px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 57px;
      left: 57px;
      width: 74px;
      height: 74px;
      opacity: 0;
    }
  }